body{
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 8px 8px 0px rgba(0,0,0,1);
    height: 430px;
    width: 315px;
    padding: 20px;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.label{
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    display: inline-block;
    padding: 5px 10px;;
    border-radius: 5px;    
}
.published{
    margin-top: 0px;
    font-size: 15px;
    font-weight: 500;
}
.card-title{
    font-size: 25px;
    font-weight: 800;
}
.card-info{
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 42%);
}

.author{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.author span{
    white-space: nowrap;
    font-weight: 700;
}